debug.bat
locastChannels.m3u8
redebug.bat
telly.exe
config_all.ini
config.ini
nbstreamreader.pyc
secret_notes.txt
SECRETS.txt
.vscode
service_uuid
TODO.md
*.pyc
config_future.ini
dev/
data/
cache/*_epg
cache/stations/*_stations.json*
cache/stations/*_facilities.json*
cache/stations/facility.*
cache/*_epg.xml*
cache/stations/*facilities.json*
*.ts
lib/tvheadend/development/
lib/web/htdocs/temp/*
!lib/web/htdocs/temp/__init__.py
build/*/tvheadend*.exe
ffmpeg/
#IntelliJ
.idea/
tvheadend-locast.iml
test*
/lib/tvheadend/htdocs/Netbeans/nbproject/private/
